# Fireup graphlab  create

In [7]:
import graphlab

Vendor:  Continuum Analytics, Inc.
Package: mkl
Message: trial mode expires in 30 days
/opt/conda/lib/python2.7/site-packages/pandas/computation/__init__.py:19: UserWarning: The installed version of numexpr 2.4.4 is not supported in pandas and will be not be used

  UserWarning)

# Setting up graphlab

In [8]:
import graphlab
# Set product key on this computer. After running this cell, you will not need to re-enter your product key. 
graphlab.product_key.set_product_key('0E1E-6FDC-5F2E-2EB9-55EA-9CAE-7CD0-5F78')

# Limit number of worker processes. This preserves system memory, which prevents hosted notebooks from crashing.
graphlab.set_runtime_config('GRAPHLAB_DEFAULT_NUM_PYLAMBDA_WORKERS', 4)

# Output active product key.
graphlab.product_key.get_product_key()

/opt/conda/lib/python2.7/site-packages/requests/packages/urllib3/connection.py:266: SubjectAltNameWarning: Certificate for beta.graphlab.com has no `subjectAltName`, falling back to check for a `commonName` for now. This feature is being removed by major browsers and deprecated by RFC 2818. (See https://github.com/shazow/urllib3/issues/497 for details.)
  SubjectAltNameWarning
[INFO] graphlab.cython.cy_server: GraphLab Create v2.1 started. Logging: /tmp/graphlab_server_1512839710.log

This non-commercial license of GraphLab Create for academic use is assigned to mlsdsree@gmail.com and will expire on December 09, 2018.

'0E1E-6FDC-5F2E-2EB9-55EA-9CAE-7CD0-5F78'

# Load house sales data

In [9]:
sales = graphlab.SFrame('home_data.gl/')

In [10]:
sales

Columns:
	id	str
	date	datetime
	price	int
	bedrooms	str
	bathrooms	str
	sqft_living	int
	sqft_lot	int
	floors	str
	waterfront	int
	view	int
	condition	int
	grade	int
	sqft_above	int
	sqft_basement	int
	yr_built	int
	yr_renovated	int
	zipcode	str
	lat	float
	long	float
	sqft_living15	float
	sqft_lot15	float

Rows: 21613

Data:
+------------+---------------------------+---------+----------+-----------+-------------+
|     id     |            date           |  price  | bedrooms | bathrooms | sqft_living |
+------------+---------------------------+---------+----------+-----------+-------------+
| 7129300520 | 2014-10-13 00:00:00+00:00 |  221900 |    3     |     1     |     1180    |
| 6414100192 | 2014-12-09 00:00:00+00:00 |  538000 |    3     |    2.25   |     2570    |
| 5631500400 | 2015-02-25 00:00:00+00:00 |  180000 |    2     |     1     |     770     |
| 2487200875 | 2014-12-09 00:00:00+00:00 |  604000 |    4     |     3     |     1960    |
| 1954400510 | 2015-02-18 00:00:00+00:00 |  510000 |    3     |     2     |     1680    |
| 7237550310 | 2014-05-12 00:00:00+00:00 | 1225000 |    4     |    4.5    |     5420    |
| 1321400060 | 2014-06-27 00:00:00+00:00 |  257500 |    3     |    2.25   |     1715    |
| 2008000270 | 2015-01-15 00:00:00+00:00 |  291850 |    3     |    1.5    |     1060    |
| 2414600126 | 2015-04-15 00:00:00+00:00 |  229500 |    3     |     1     |     1780    |
| 3793500160 | 2015-03-12 00:00:00+00:00 |  323000 |    3     |    2.5    |     1890    |
+------------+---------------------------+---------+----------+-----------+-------------+
+----------+--------+------------+------+-----------+-------+------------+---------------+
| sqft_lot | floors | waterfront | view | condition | grade | sqft_above | sqft_basement |
+----------+--------+------------+------+-----------+-------+------------+---------------+
|   5650   |   1    |     0      |  0   |     3     |   7   |    1180    |       0       |
|   7242   |   2    |     0      |  0   |     3     |   7   |    2170    |      400      |
|  10000   |   1    |     0      |  0   |     3     |   6   |    770     |       0       |
|   5000   |   1    |     0      |  0   |     5     |   7   |    1050    |      910      |
|   8080   |   1    |     0      |  0   |     3     |   8   |    1680    |       0       |
|  101930  |   1    |     0      |  0   |     3     |   11  |    3890    |      1530     |
|   6819   |   2    |     0      |  0   |     3     |   7   |    1715    |       0       |
|   9711   |   1    |     0      |  0   |     3     |   7   |    1060    |       0       |
|   7470   |   1    |     0      |  0   |     3     |   7   |    1050    |      730      |
|   6560   |   2    |     0      |  0   |     3     |   7   |    1890    |       0       |
+----------+--------+------------+------+-----------+-------+------------+---------------+
+----------+--------------+---------+-------------+---------------+---------------+-----+
| yr_built | yr_renovated | zipcode |     lat     |      long     | sqft_living15 | ... |
+----------+--------------+---------+-------------+---------------+---------------+-----+
|   1955   |      0       |  98178  | 47.51123398 | -122.25677536 |     1340.0    | ... |
|   1951   |     1991     |  98125  | 47.72102274 |  -122.3188624 |     1690.0    | ... |
|   1933   |      0       |  98028  | 47.73792661 | -122.23319601 |     2720.0    | ... |
|   1965   |      0       |  98136  |   47.52082  | -122.39318505 |     1360.0    | ... |
|   1987   |      0       |  98074  | 47.61681228 | -122.04490059 |     1800.0    | ... |
|   2001   |      0       |  98053  | 47.65611835 | -122.00528655 |     4760.0    | ... |
|   1995   |      0       |  98003  | 47.30972002 | -122.32704857 |     2238.0    | ... |
|   1963   |      0       |  98198  | 47.40949984 | -122.31457273 |     1650.0    | ... |
|   1960   |      0       |  98146  | 47.51229381 | -122.33659507 |     1780.0    | ... |
|   2003   |      0       |  98038  | 47.36840673 |  -122.0308176 |     2390.0    | ... |
+----------+--------------+---------+-------------+---------------+---------------+-----+
[21613 rows x 21 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

## find houses (filter) in the expensive area using zipcode

In [11]:
exp_homes = sales[sales['zipcode'] == '98039']

In [12]:
exp_homes

Columns:
	id	str
	date	datetime
	price	int
	bedrooms	str
	bathrooms	str
	sqft_living	int
	sqft_lot	int
	floors	str
	waterfront	int
	view	int
	condition	int
	grade	int
	sqft_above	int
	sqft_basement	int
	yr_built	int
	yr_renovated	int
	zipcode	str
	lat	float
	long	float
	sqft_living15	float
	sqft_lot15	float

Rows: Unknown

Data:
+------------+---------------------------+---------+----------+-----------+-------------+
|     id     |            date           |  price  | bedrooms | bathrooms | sqft_living |
+------------+---------------------------+---------+----------+-----------+-------------+
| 3625049014 | 2014-08-29 00:00:00+00:00 | 2950000 |    4     |    3.5    |     4860    |
| 2540700110 | 2015-02-12 00:00:00+00:00 | 1905000 |    4     |    3.5    |     4210    |
| 3262300940 | 2014-11-07 00:00:00+00:00 |  875000 |    3     |     1     |     1220    |
| 3262300940 | 2015-02-10 00:00:00+00:00 |  940000 |    3     |     1     |     1220    |
| 6447300265 | 2014-10-14 00:00:00+00:00 | 4000000 |    4     |    5.5    |     7080    |
| 2470100110 | 2014-08-04 00:00:00+00:00 | 5570000 |    5     |    5.75   |     9200    |
| 2210500019 | 2015-03-24 00:00:00+00:00 |  937500 |    3     |     1     |     1320    |
| 6447300345 | 2015-04-06 00:00:00+00:00 | 1160000 |    4     |     3     |     2680    |
| 6447300225 | 2014-11-06 00:00:00+00:00 | 1880000 |    3     |    2.75   |     2620    |
| 2525049148 | 2014-10-07 00:00:00+00:00 | 3418800 |    5     |     5     |     5450    |
+------------+---------------------------+---------+----------+-----------+-------------+
+----------+--------+------------+------+-----------+-------+------------+---------------+
| sqft_lot | floors | waterfront | view | condition | grade | sqft_above | sqft_basement |
+----------+--------+------------+------+-----------+-------+------------+---------------+
|  23885   |   2    |     0      |  0   |     3     |   12  |    4860    |       0       |
|  18564   |   2    |     0      |  0   |     3     |   11  |    4210    |       0       |
|   8119   |   1    |     0      |  0   |     4     |   7   |    1220    |       0       |
|   8119   |   1    |     0      |  0   |     4     |   7   |    1220    |       0       |
|  16573   |   2    |     0      |  0   |     3     |   12  |    5760    |      1320     |
|  35069   |   2    |     0      |  0   |     3     |   13  |    6200    |      3000     |
|   8500   |   1    |     0      |  0   |     4     |   7   |    1320    |       0       |
|  15438   |   2    |     0      |  2   |     3     |   8   |    2680    |       0       |
|  17919   |   1    |     0      |  1   |     4     |   9   |    2620    |       0       |
|  20412   |   2    |     0      |  0   |     3     |   11  |    5450    |       0       |
+----------+--------+------------+------+-----------+-------+------------+---------------+
+----------+--------------+---------+-------------+---------------+---------------+-----+
| yr_built | yr_renovated | zipcode |     lat     |      long     | sqft_living15 | ... |
+----------+--------------+---------+-------------+---------------+---------------+-----+
|   1996   |      0       |  98039  | 47.61717049 | -122.23040939 |     3580.0    | ... |
|   2001   |      0       |  98039  | 47.62060082 |  -122.2245047 |     3520.0    | ... |
|   1955   |      0       |  98039  | 47.63281908 | -122.23554392 |     1910.0    | ... |
|   1955   |      0       |  98039  | 47.63281908 | -122.23554392 |     1910.0    | ... |
|   2008   |      0       |  98039  | 47.61512031 | -122.22420058 |     3140.0    | ... |
|   2001   |      0       |  98039  | 47.62888314 | -122.23346379 |     3560.0    | ... |
|   1954   |      0       |  98039  | 47.61872888 | -122.22643371 |     2790.0    | ... |
|   1902   |     1956     |  98039  | 47.61089438 | -122.22582388 |     4480.0    | ... |
|   1949   |      0       |  98039  | 47.61435052 | -122.22772057 |     3400.0    | ... |
|   2014   |      0       |  98039  | 47.62087993 | -122.23726918 |     3160.0    | ... |
+----------+--------------+---------+-------------+---------------+---------------+-----+
[? rows x 21 columns]
Note: Only the head of the SFrame is printed. This SFrame is lazily evaluated.
You can use sf.materialize() to force materialization.

In [13]:
# .show() visualizes any data structure in GraphLab Create
# If you want Canvas visualization to show up on this notebook, 
# add this line:
graphlab.canvas.set_target('ipynb')

In [14]:
exp_homes['price'].show(view='Categorical')

## assignment solution#1

In [15]:
exp_homes['price'].mean()

2160606.5999999996

## select the houses that have ‘sqft_living’ higher than 2000 sqft but no larger than 4000 sqft.

In [16]:
filtered = sales[(sales['sqft_living'] > 2000) & (sales['sqft_living'] <= 4000)]

In [17]:
filtered

Columns:
	id	str
	date	datetime
	price	int
	bedrooms	str
	bathrooms	str
	sqft_living	int
	sqft_lot	int
	floors	str
	waterfront	int
	view	int
	condition	int
	grade	int
	sqft_above	int
	sqft_basement	int
	yr_built	int
	yr_renovated	int
	zipcode	str
	lat	float
	long	float
	sqft_living15	float
	sqft_lot15	float

Rows: Unknown

Data:
+------------+---------------------------+---------+----------+-----------+-------------+
|     id     |            date           |  price  | bedrooms | bathrooms | sqft_living |
+------------+---------------------------+---------+----------+-----------+-------------+
| 6414100192 | 2014-12-09 00:00:00+00:00 |  538000 |    3     |    2.25   |     2570    |
| 1736800520 | 2015-04-03 00:00:00+00:00 |  662500 |    3     |    2.5    |     3560    |
| 9297300055 | 2015-01-24 00:00:00+00:00 |  650000 |    4     |     3     |     2950    |
| 2524049179 | 2014-08-26 00:00:00+00:00 | 2000000 |    3     |    2.75   |     3050    |
| 7137970340 | 2014-07-03 00:00:00+00:00 |  285000 |    5     |    2.5    |     2270    |
| 3814700200 | 2014-11-20 00:00:00+00:00 |  329000 |    3     |    2.25   |     2450    |
| 1794500383 | 2014-06-26 00:00:00+00:00 |  937000 |    3     |    1.75   |     2450    |
| 1873100390 | 2015-03-02 00:00:00+00:00 |  719000 |    4     |    2.5    |     2570    |
| 8562750320 | 2014-11-10 00:00:00+00:00 |  580500 |    3     |    2.5    |     2320    |
| 0461000390 | 2014-06-24 00:00:00+00:00 |  687500 |    4     |    1.75   |     2330    |
+------------+---------------------------+---------+----------+-----------+-------------+
+----------+--------+------------+------+-----------+-------+------------+---------------+
| sqft_lot | floors | waterfront | view | condition | grade | sqft_above | sqft_basement |
+----------+--------+------------+------+-----------+-------+------------+---------------+
|   7242   |   2    |     0      |  0   |     3     |   7   |    2170    |      400      |
|   9796   |   1    |     0      |  0   |     3     |   8   |    1860    |      1700     |
|   5000   |   2    |     0      |  3   |     3     |   9   |    1980    |      970      |
|  44867   |   1    |     0      |  4   |     3     |   9   |    2330    |      720      |
|   6300   |   2    |     0      |  0   |     3     |   8   |    2270    |       0       |
|   6500   |   2    |     0      |  0   |     4     |   8   |    2450    |       0       |
|   2691   |   2    |     0      |  0   |     3     |   8   |    1750    |      700      |
|   7173   |   2    |     0      |  0   |     3     |   8   |    2570    |       0       |
|   3980   |   2    |     0      |  0   |     3     |   8   |    2320    |       0       |
|   5000   |  1.5   |     0      |  0   |     4     |   7   |    1510    |      820      |
+----------+--------+------------+------+-----------+-------+------------+---------------+
+----------+--------------+---------+-------------+---------------+---------------+-----+
| yr_built | yr_renovated | zipcode |     lat     |      long     | sqft_living15 | ... |
+----------+--------------+---------+-------------+---------------+---------------+-----+
|   1951   |     1991     |  98125  | 47.72102274 |  -122.3188624 |     1690.0    | ... |
|   1965   |      0       |  98007  | 47.60065993 | -122.14529566 |     2210.0    | ... |
|   1979   |      0       |  98126  | 47.57136955 | -122.37541218 |     2140.0    | ... |
|   1968   |      0       |  98040  | 47.53164379 | -122.23345881 |     4110.0    | ... |
|   1995   |      0       |  98092  | 47.32658071 | -122.16892624 |     2240.0    | ... |
|   1985   |      0       |  98030  | 47.37386303 | -122.17228981 |     2200.0    | ... |
|   1915   |      0       |  98119  | 47.63855772 | -122.35985573 |     1760.0    | ... |
|   2005   |      0       |  98052  | 47.70732168 | -122.11029785 |     2630.0    | ... |
|   2003   |      0       |  98027  |  47.5391103 | -122.06971484 |     2580.0    | ... |
|   1929   |      0       |  98117  | 47.68228235 | -122.36760203 |     1460.0    | ... |
+----------+--------------+---------+-------------+---------------+---------------+-----+
[? rows x 21 columns]
Note: Only the head of the SFrame is printed. This SFrame is lazily evaluated.
You can use sf.materialize() to force materialization.

In [18]:
filtered.num_rows()

9118

In [19]:
sales.num_rows()

21613

## Assignment solution#2: What fraction of the all houses have ‘sqft_living’ in this range?

In [20]:
fraction = 9118 / 21613

In [31]:
0.4218757

0.4218757

## Building a regression model with several more features

In [21]:
my_features = ['bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'zipcode']

In [22]:
sales[my_features].show

<bound method SFrame.show of Columns:
	bedrooms	str
	bathrooms	str
	sqft_living	int
	sqft_lot	int
	floors	str
	zipcode	str

Rows: 21613

Data:
+----------+-----------+-------------+----------+--------+---------+
| bedrooms | bathrooms | sqft_living | sqft_lot | floors | zipcode |
+----------+-----------+-------------+----------+--------+---------+
|    3     |     1     |     1180    |   5650   |   1    |  98178  |
|    3     |    2.25   |     2570    |   7242   |   2    |  98125  |
|    2     |     1     |     770     |  10000   |   1    |  98028  |
|    4     |     3     |     1960    |   5000   |   1    |  98136  |
|    3     |     2     |     1680    |   8080   |   1    |  98074  |
|    4     |    4.5    |     5420    |  101930  |   1    |  98053  |
|    3     |    2.25   |     1715    |   6819   |   2    |  98003  |
|    3     |    1.5    |     1060    |   9711   |   1    |  98198  |
|    3     |     1     |     1780    |   7470   |   1    |  98146  |
|    3     |    2.5    |     1890    |   6560   |   2    |  98038  |
+----------+-----------+-------------+----------+--------+---------+
[21613 rows x 6 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.>

In [23]:
advanced_features = [
'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'zipcode',
'condition', # condition of house
'grade', # measure of quality of construction
'waterfront', # waterfront property
'view', # type of view
'sqft_above', # square feet above ground
'sqft_basement', # square feet in basement
'yr_built', # the year built
'yr_renovated', # the year renovated
'lat', 'long', # the lat-long of the parcel
'sqft_living15', # average sq.ft. of 15 nearest neighbors
'sqft_lot15', # average lot size of 15 nearest neighbors 
]

In [24]:
sales[advanced_features].show

<bound method SFrame.show of Columns:
	bedrooms	str
	bathrooms	str
	sqft_living	int
	sqft_lot	int
	floors	str
	zipcode	str
	condition	int
	grade	int
	waterfront	int
	view	int
	sqft_above	int
	sqft_basement	int
	yr_built	int
	yr_renovated	int
	lat	float
	long	float
	sqft_living15	float
	sqft_lot15	float

Rows: 21613

Data:
+----------+-----------+-------------+----------+--------+---------+-----------+
| bedrooms | bathrooms | sqft_living | sqft_lot | floors | zipcode | condition |
+----------+-----------+-------------+----------+--------+---------+-----------+
|    3     |     1     |     1180    |   5650   |   1    |  98178  |     3     |
|    3     |    2.25   |     2570    |   7242   |   2    |  98125  |     3     |
|    2     |     1     |     770     |  10000   |   1    |  98028  |     3     |
|    4     |     3     |     1960    |   5000   |   1    |  98136  |     5     |
|    3     |     2     |     1680    |   8080   |   1    |  98074  |     3     |
|    4     |    4.5    |     5420    |  101930  |   1    |  98053  |     3     |
|    3     |    2.25   |     1715    |   6819   |   2    |  98003  |     3     |
|    3     |    1.5    |     1060    |   9711   |   1    |  98198  |     3     |
|    3     |     1     |     1780    |   7470   |   1    |  98146  |     3     |
|    3     |    2.5    |     1890    |   6560   |   2    |  98038  |     3     |
+----------+-----------+-------------+----------+--------+---------+-----------+
+-------+------------+------+------------+---------------+----------+--------------+
| grade | waterfront | view | sqft_above | sqft_basement | yr_built | yr_renovated |
+-------+------------+------+------------+---------------+----------+--------------+
|   7   |     0      |  0   |    1180    |       0       |   1955   |      0       |
|   7   |     0      |  0   |    2170    |      400      |   1951   |     1991     |
|   6   |     0      |  0   |    770     |       0       |   1933   |      0       |
|   7   |     0      |  0   |    1050    |      910      |   1965   |      0       |
|   8   |     0      |  0   |    1680    |       0       |   1987   |      0       |
|   11  |     0      |  0   |    3890    |      1530     |   2001   |      0       |
|   7   |     0      |  0   |    1715    |       0       |   1995   |      0       |
|   7   |     0      |  0   |    1060    |       0       |   1963   |      0       |
|   7   |     0      |  0   |    1050    |      730      |   1960   |      0       |
|   7   |     0      |  0   |    1890    |       0       |   2003   |      0       |
+-------+------------+------+------------+---------------+----------+--------------+
+-------------+---------------+---------------+------------+
|     lat     |      long     | sqft_living15 | sqft_lot15 |
+-------------+---------------+---------------+------------+
| 47.51123398 | -122.25677536 |     1340.0    |   5650.0   |
| 47.72102274 |  -122.3188624 |     1690.0    |   7639.0   |
| 47.73792661 | -122.23319601 |     2720.0    |   8062.0   |
|   47.52082  | -122.39318505 |     1360.0    |   5000.0   |
| 47.61681228 | -122.04490059 |     1800.0    |   7503.0   |
| 47.65611835 | -122.00528655 |     4760.0    |  101930.0  |
| 47.30972002 | -122.32704857 |     2238.0    |   6819.0   |
| 47.40949984 | -122.31457273 |     1650.0    |   9711.0   |
| 47.51229381 | -122.33659507 |     1780.0    |   8113.0   |
| 47.36840673 |  -122.0308176 |     2390.0    |   7570.0   |
+-------------+---------------+---------------+------------+
[21613 rows x 18 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.>

## split into train and test data

In [26]:
train_data,test_data = sales.random_split(.8,seed=0)

## regression model for my_features and advanced_features

In [27]:
my_features_model = graphlab.linear_regression.create(train_data,target='price',features=my_features,validation_set=None)

Linear regression:

--------------------------------------------------------

Number of examples          : 17384

Number of features          : 6

Number of unpacked features : 6

Number of coefficients    : 115

Starting Newton Method

--------------------------------------------------------

+-----------+----------+--------------+--------------------+---------------+

| Iteration | Passes   | Elapsed Time | Training-max_error | Training-rmse |

+-----------+----------+--------------+--------------------+---------------+

| 1         | 2        | 1.157876     | 3763208.270524     | 181908.848367 |

+-----------+----------+--------------+--------------------+---------------+

SUCCESS: Optimal solution found.

In [30]:
advanced_features_model = graphlab.linear_regression.create(train_data, target = 'price', features=advanced_features, validation_set=None)

Linear regression:

--------------------------------------------------------

Number of examples          : 17384

Number of features          : 18

Number of unpacked features : 18

Number of coefficients    : 127

Starting Newton Method

--------------------------------------------------------

+-----------+----------+--------------+--------------------+---------------+

| Iteration | Passes   | Elapsed Time | Training-max_error | Training-rmse |

+-----------+----------+--------------+--------------------+---------------+

| 1         | 2        | 0.154931     | 3469012.450663     | 154580.940735 |

+-----------+----------+--------------+--------------------+---------------+

SUCCESS: Optimal solution found.

In [31]:
print my_features_model.evaluate(test_data)

{'max_error': 3486584.509381928, 'rmse': 179542.43331269105}

In [33]:
print(advanced_features_model.evaluate(test_data))

{'max_error': 3556849.413848093, 'rmse': 156831.11680191013}

## assignment solution #3 diff. in rmse of test evaluate from training my_features vs advanced features

In [34]:
179542.43331269105 - 156831.11680191013

22711.316510780918

## evaluating the model by predicting house prices

In [37]:
house1 = sales[sales['id']=='5309101200']

In [38]:
print house1['price']

[620000, ... ]

In [39]:
print my_features_model.predict(house1)

[721918.9333272816]

In [40]:
print advanced_features_model.predict(house1)

[630754.0062215771]